.section__concept {
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;

}


.section__concept img {
    width: 100%;
    height: 248px;
    background: #C4C4C4;
    border-radius: 4px;
}

.concept__titre {
    margin-top: 5px;
    color: #FFFFFF;
    width: 227px;
    height: 33px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 109%;

}

.concept__texte {
    width: 100%;
    height: 95px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.7292px;
    line-height: 19px;
    color: #FFFFFF;
}

.section__personnage {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}


.personnage__contenu img {
    height: 75%;
    object-fit: contain;
    width: 75px;
    object-position: bottom;
}

.personnage__contenu__img {
    width: 85px;
}

.personnage__description img {
    width: 50%;
}

.personnage__description {
    display: flex;
}

.personnage__description h3 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 0.90rem;
    line-height: 180%;
    color: #FFFFFF;
}

.personnage__description p {
    color: #FFFFFF;
    width: 78px;
    height: 11px;
    top: 1271.59px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 0.65rem;
    line-height: 10px;
}

.personnage__contenu2 img {
    align-items: center;
}

.section__arme .personnage__contenu {
    padding-top: 10px;
    width: 100px;
    height: 153px;
    background: #8A785E;
    border-radius: 10px;
}

.section__arme img {
    height: 100px;
    width: 30px;
    margin: 0 auto;
    display: table-cell;
}
.section__arme .personnage__contenu .personnage__description {
    margin-left: 15px;
}
