@import url("reset.css");
@import url("burger_menu.css");
@import url("concept.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

@font-face {
    font-family: "Poppins";
    src: url("../FONTS/Poppins/Poppins-Regular.ttf") format("ttf"),
        url("../FONTS/Poppins/Poppins-Medium.ttf") format("ttf"),
        url("../FONTS/Poppins/Poppins-SemiBold.ttf") format("ttf"),
        url("../FONTS/Poppins/Poppins-Bold.ttf") format("ttf"),
        url("../FONTS/Poppins/Poppins-Black.ttf") format("ttf");
}

*,
html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.site {
    background: linear-gradient(180deg, #CFB36E 0%, rgba(0, 0, 0, 0.64) 56.12%);
    /* padding: 0 20px; */
    overflow: hidden;
}

.site__banner {
    width: 90%;
    margin: 0 auto;
}

.banner__menu ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: hidden;
    width: 100vw;
    background: linear-gradient(180deg, #D3B470 0%, #594A55 100%);
    padding: 0px 40px;
    padding-top: 100px;
    transition: 0.5s;
    transform: translateX(100%);
    z-index: 1;
}

.banner__menu li {
    display: flex;
    flex-direction: column;
    line-height: 5rem;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 900;
}

.container__about {
    position: absolute;
    color: white;
    font-size: 0.8rem;
    right: 0;
    flex-direction: column;
    top: 0;
    margin-top: 70px;
    padding-right: 22px;
}

.container__about::after {
    position: absolute;
    bottom: -90px;
    right: 50px;
    content: '';
    width: 20px;
    height: 85px;
    background-image: url("../IMG/banner__barre.svg");
    background-repeat: no-repeat;
}

.container__about span {
    text-align: right;
}

.container__barre {
    position: absolute;
    width: 3%;
    right: 30px;
    top: 0;
    padding-top: 15px;

}

.menu__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu__container img {
    position: relative;
    margin: 0 auto;
    width: 50%;
    max-width: 200px;
    padding-top: 85px;
    padding-bottom: 20px;
    height: 100%;
}


.menu__container ul {
    width: 100%;
    margin: 0;
    color: #FFFFFF;
    font-size: 3em;
    line-height: 1em;
    list-style: none;
    margin-bottom: 50px;
    text-align: center;
}

.menu__container li {
    font-weight: 900;
}


.menu__container div {
    display: flex;
}

.banner__button {
    background-color: #C6A052;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    position: relative;
}

.banner__button a {
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner_2_img {
    height: 100vh;
}
.banner_2_img img {
    height: 35vw;
    padding-left: 5%;
}
@media (min-width: 600px) {}

@media (min-width: 992px) {
    .topbar_burger {
        display: none
    }

    .banner_2_img {
        display: none
    }
}

@media (min-width: 1200px) {

    .section__banner {
        background-color: #DAAEAE;
        height: 100vh;
    }

    .banner__menu {
        background-color: #362455;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 70px;
    }

    .banner__menu img {
        margin-right: 10px;
        margin-top: 5px;
    }

    .banner__menu ul {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        list-style: none;
        margin: 0 auto;
        padding-top: 22px;
        padding-bottom: 15px;
    }

    .banner__menu a {
        padding: 10px;
        position: relative;
        color: white;
        text-decoration: none;
    }

    .banner__menu span {
        position: absolute;
        width: 70px;
        height: 15px;
        left: 48px;
        top: 3.5px;
    }

    .menu__logo {
        transition: 0.3s;
    }

    .menu__support--active {
        border: solid white 1px;
        border-radius: 30px;
        transition: 0.3s;
    }

    .menu__support--active:hover {
        background-color: #FFFFFF;
        color: #362455;
        font-size: 1.1rem;
    }

    .menu__graveyard--active {
        border-radius: 30px;
        transition: 0.3s;
    }

    .menu__graveyard--active:hover {
        font-size: 1.1rem;
    }

    .menu__graveyard--active::before {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 50%;
        border: solid white 1px;
        background-color: white;
        height: 5px;
        width: 5px;
        border-radius: 16526px;
    }

    .menu__trackrecord--active {
        border-radius: 30px;
        transition: 0.3s;
    }

    .menu__trackrecord--active:hover {
        font-size: 1.1rem;
    }

    .menu__services--active {
        border-radius: 30px;
        transition: 0.3s;
    }

    .menu__services--active:hover {
        font-size: 1.1rem;
    }

    .menu__knowmore--active {
        border-radius: 30px;
        transition: 0.3s;
    }

    .menu__knowmore--active:hover {
        font-size: 1.1rem;
    }

    .menu__container {
        display: flex;
        width: 55vw;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 5%;
    }

    .menu__container img {
        width: 650px;
    }

    .menu__container img {
        transform: scale(1);
        transition: 0.3s;
    }

    .menu__container img:hover {
        transform: scale(0.85);
        cursor: pointer;
    }

    .menu__container ul {
        margin: 0;
        color: #FFFFFF;
        font-size: 6em;
        line-height: 0.95em;
        padding-top: 5%;
        transition: 0.3s;
        list-style: none;

    }

    .menu__container div {
        display: flex;
    }

    .menu__container li {
        transition: 0.3s;
        font-weight: 700;
    }

    .menu__container li:hover {
        font-size: 1.2em;
        cursor: pointer;
    }

    .banner__button {
        padding: 15px 32px;
        width: 150px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: -50px auto;
        position: relative;
        transition: 0.3s;
    }

    .banner__button:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .banner__button img {
        padding-top: 50px;
        width: 200px;
    }

    .banner__button span {
        font-family: 'Poppins', sans-serif;
        color: #362455;
        font-size: 1.3em;
        white-space: nowrap;
        text-decoration: none;
        position: absolute;
        top: 48%;
        left: 59%;
        transform: translate(-50%, -50%);
        padding-top: 95px;
    }
}