@import url("reset.css");
@import url("burger_menu.css");
@import url("concept.css");

@font-face {
    font-family: "Poppins";
    src: url("../FONTS/Poppins/Poppins-Regular.ttf") format("ttf"),
        url("../FONTS/Poppins/Poppins-Medium.ttf") format("ttf"),
        url("../FONTS/Poppins/Poppins-SemiBold.ttf") format("ttf"),
        url("../FONTS/Poppins/Poppins-Bold.ttf") format("ttf"),
        url("../FONTS/Poppins/Poppins-Black.ttf") format("ttf");
}

*,
html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.site {
    background: linear-gradient(180deg, #CFB36E 0%, rgba(0, 0, 0, 0.64) 56.12%);
    padding: 0 20px;
}

.banner__menu ul {
    display: none;
}

.topbar_burger a {
    padding: 10px;
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
} 

.topbar_burger span {
    padding-top: 15px;
}

.menu__container {
    display: block;
    width: 90vw;
    margin: 0 auto;
}

.about__1  {
    position: absolute;
    padding-top: 58px;
    padding-left: 250px;
    font-size: 3vw;
    font-style:black;
}

.about__2  {
    position: absolute;
    padding-top: 73px;
    padding-left: 200px;
    font-size: 3vw
}

.menu__container img {
    position: relative;
    /* padding-top: 50px; */
    padding-left: 90px;
}

.menu__container li {
    font-weight: 900;
}

.menu__container ul {
    margin: 0;
    color: #FFFFFF;
    font-size: 12vw;
    line-height: 1em;
    list-style: none;
    padding-left: 7px;
    margin-bottom: 50px;

}

.menu__container div {
    display: flex;
}

.menu__container li {
    font-weight: 900;
}

.banner__button {
    width: 138px;
    padding: 15px 15px;
    text-decoration: none;
    border: 1px solid #303056;
    margin: 0 auto;
    border-radius: 100;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner_2_img {
    height: 100vh;
}

.banner_2_img img {
    height: 35vw;
    padding-left: 5%;
}

/* @media (min-width: 768px) {}

@media (min-width: 992px) {
    .topbar_burger {
        display: none
    }
    .banner_2_img {
        display:none
    }
}

@media (min-width: 1200px) {

    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
    }
    
    .section__banner {
        background-color: #DAAEAE;
        height: 100vh;
    }
    
    .banner__menu {
        background-color: #362455;
        list-style-type: none ; 
        padding: 0; 
        margin: 0;
        width: 100vw;
        height: 70px;
    }   
    
    .banner__menu img {
        margin-right: 10px;
        margin-top: 5px;
    } 
    
    .banner__menu ul {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        list-style: none;
        margin: 0 auto;
        padding-top: 22px;
        padding-bottom: 15px;
    }
    
    .banner__menu a {
        padding: 10px;
        position: relative;
        color: white;
        text-decoration: none;
    } 
    
    .banner__menu span {
        position: absolute;
        width: 70px;
        height: 15px;
        left: 48px;
        top: 3.5px;
    }
    
    .menu__logo {
        transition: 0.3s;
    }
    
    .menu__support--active {
        border: solid white 1px;
        border-radius: 30px;
        transition: 0.3s;
    }
    
    .menu__support--active:hover{
        background-color: #FFFFFF;    
        color: #362455;
        font-size: 1.1rem;
    }
    .menu__graveyard--active{
        border-radius: 30px;
        transition: 0.3s;
    }
    
    .menu__graveyard--active:hover{
        font-size: 1.1rem;
    }
    .menu__graveyard--active::before {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 50%;
        border: solid white 1px;
        background-color: white;
        height: 5px;
        width: 5px;
        border-radius: 16526px;
    }   
    
    .menu__trackrecord--active{
        border-radius: 30px;
        transition: 0.3s;
    }
    
    .menu__trackrecord--active:hover{
        font-size: 1.1rem;
    }
    
    .menu__services--active{
        border-radius: 30px;
        transition: 0.3s;
    }
    
    .menu__services--active:hover{
        font-size: 1.1rem;
    }
    
    .menu__knowmore--active{
        border-radius: 30px;
        transition: 0.3s;
    }
    
    .menu__knowmore--active:hover{
        font-size: 1.1rem;
    }
    
    .menu__container {
        display: flex;
        width: 55vw;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 5%;  
    }
    
    .menu__container img {
        width: 650px;
    }
    
    .menu__container img {
        transform: scale(1);
        transition: 0.3s;
    }
    
    .menu__container img:hover {
        transform: scale(0.85); 
        cursor: pointer;
    }
    
    .menu__container ul {
        margin: 0;
        color: #FFFFFF;
        font-size: 6em;
        line-height: 0.95em;
        padding-top: 5%;
        transition: 0.3s;
        list-style: none;
    
    }
    
    .menu__container div {
        display: flex;
    }
    
    .menu__container li {
        transition: 0.3s;
        font-weight: 700;
    }
    
    .menu__container li:hover {
        font-size: 1.2em;
        cursor: pointer;
    }
    
    .banner__button {
        padding: 15px 32px;
        width: 150px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin :-50px auto;
        position: relative;
        transition: 0.3s;
    }
    
    .banner__button:hover {
        transform: scale(1.1);
        cursor: pointer;
     }
    
     .banner__button img {
         padding-top: 50px;
         width: 200px;
     }
     
     .banner__button span {
         font-family: 'Poppins', sans-serif;
         color: #362455;
         font-size: 1.3em;
         white-space: nowrap;
         text-decoration: none;
         position: absolute;
         top: 48%; 
         left: 59%;
         transform: translate(-50%, -50%);
         padding-top: 95px;
     }
    } */